<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-22E8RPVWZD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-22E8RPVWZD');
    </script>
    <title>Page not Found</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=B612">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>
  <style>
      .four-oh-four {
          padding-left: 1%;
          font-family: 'B612', sans-serif;
      }
  </style>
  <body class="four-oh-four">
    <h1>Page not found.</h1>
  </body>
</html>